:root {
  --blue-bg: #ecf5ff;
  --black-bg: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Clash Display", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

button {
  background-color: #ffffff;
  border: 2px solid var(--black-bg);
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  font-family: "Clash Display", sans-serif;
}

section {
  background-color: var(--blue-bg);
}

/* Navigation */

.nav {
  height: 75px;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #ffffff;
  background-color: var(--black-bg);
}

.nav__logo {
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #ffffff;
  padding: 0.5rem;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.nav__mobile-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50px;
  width: 75%;
  color: #ffffff;
  background-color: var(--black-bg);
  font-weight: 500;
}

.nav__mobile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.hide {
  display: none;
}

/* Hero */

.hero {
  height: calc(80vh - 75px);
  padding: 3rem 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.hero__content h1 {
  font-size: 1.25rem;
  margin-bottom: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.hero__content h3 {
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 2rem;
}

.hero__content-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero__content-buttons button {
  transition: all 0.8s;
  font-weight: 600;
}

.hero__content-buttons button:hover {
  color: #ffffff;
  background-color: var(--black-bg);
}

.divider {
  height: calc(20vh);
  background-color: var(--blue-bg);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .nav__links {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .nav__mobile-toggle {
    display: none;
  }
}

/* Mobile Menu Animation */

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
