@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --main-bg-color: #232946;
  --main-headline-color: #fffffe;
  --main-para-color: #b8c1ec;
  --card-bg-color: #fffffe;
  --card-content-color: #232946;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

/* Fonts, Colours, Button, Anchors */
.link span,
.tagline,
.tech-title {
  font-family: 'Fira Code', monospace;
}

h1,
.link .number,
.h-number {
  color: var(--main-headline-color);
}

.link span,
.tagline,
.tech-title,
p,
button {
  color: var(--main-para-color);
}

p {
  line-height: 25px;
  font-size: 16px;
}

button {
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-para-color);
  border-radius: 4px;
  /* font-family: 'Inter', sans-serif; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  margin: 0 20px;
}

/* Navigation */
#nav {
  padding-top: 20px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.link {
  font-size: 14px;
}

.nav-btn {
  font-size: 14px;
  padding: 4px 8px;
  cursor: pointer;
}

/* Parent Div */
#app {
  background-color: var(--main-bg-color);
  padding: 0 25px;
}
/* Hero Section */
#hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-content .tagline,
h1,
p {
  margin-bottom: 15px;
}

.main-btn {
  padding: 15px 20px;
  cursor: pointer;
}

/* About Section */
.abt-parent {
  margin-top: 100px;
}

.about-content .tagline {
  margin-top: 50px;
}
